.cart-section {
  margin-top: 243px;
  margin-bottom: 47px;
}

.cart {
  max-width: 708px;
  margin: auto;
  padding: 9px;
  background-color: var(--color-grey);
  border-radius: var(--border-radius);
}

.cart-list-title {
  font-weight: 400;
  font-size: 36px;
  color: var(--text-color);
}

.cart-list {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  gap: 8px;
}

.cart-cost {
  padding: 8px 0;
  font-weight: 500;
}

.card-item {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: space-between;
}

.card-item > * {
  flex: none;
}

.card-item-title {
  width: 40%;
}

.card-item-quantity {
  width: 10%;
}

.card-item-total {
  width: 25%;
}

.cart-item-delete {
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: var(--border-radius);
  background-color: transparent;
  transition: all 300ms ease-out;
}

.cart-item-delete:hover {
  background-color: var(--color-dark-grey);
  cursor: pointer;
}

.add-card-button {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .cart-list-title {
    text-align: center;
  }

  .card-item {
    gap: 10px;
    flex-wrap: wrap;
  }

  .card-item-title {
    width: 100%;
  }
}
