.review-section {
  margin-top: 105px;
}

.review-list {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

.review-card {
  flex: 1 1;
  max-width: 468px;
  padding: 26px;
  padding-top: 20px;

  background-color: var(--color-grey);
  border-radius: var(--border-radius);

  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: var(--text-color);
}

.review-card h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.review-card p {
  margin-top: 12px;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .review-list {
    gap: 16px;
  }

  .review-card {
    width: 100%;
  }
}
