.button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-width: 68px; */
  background-color: var(--color-black);
  border: none;
  border-radius: var(--border-radius);
  padding: 12px;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: var(--white-text-color);
  text-align: center;

  transition: background-color 300ms ease-out;
}

.button:hover {
  background-color: var(--color-dark-grey);
  cursor: pointer;
}

.button-delete {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 20px;
}

.button-square {
  width: 68px;
  height: 68px;
  flex: none;
}
