.input {
  width: 100%;
  background-color: var(--color-black);
  border: none;
  border-radius: var(--border-radius);
  padding: 12px;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: var(--white-text-color);
  text-align: center;
}

.input-text {
  text-align: left;
}
